.wrapper {
  padding: 20px 200px 20px 200px;
  text-align: center;
}


.wrapper h2.banner {
  margin-top: 220px;
  font-size: 38px;
  color: white;
}

.log_in {
  margin-top: 40px;
  margin-bottom: 20px;
}

.log_in #log_in_username {
  width: 300px;
}

.log_in #log_in_password {
  width: 300px;
}

.log_in button {
  width: 200px;
  background-color: lightSeaGreen;
  color: white;
  border: 0;
}

div.breaker {
  border-bottom: 2px solid lightgrey;
}

.sign_up {
  margin-top: 20px;
}

.sign_up #sign_up_username {
  width: 300px;
}

.sign_up #sign_up_password {
  width: 300px;
}

.sign_up button {
  width: 200px;
  background-color: RoyalBlue;
  color: white;
  border: 0;
}

div.alert {
  margin-top: 50px;
}

div.alert-success {
  margin-top: 200px;
}

div.notSignUp {
  margin-top: 200px;
}

/* Background video */
video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}